@media screen and (max-width: 1200px) {
    /*elemento header*/
    header {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)), url(../Img/HeaderCapa1200.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /*________MENU HAMBURGUER_________*/
    header nav#nav-esq {
        justify-content: space-between;
    }
    header nav#nav-esq ul#icone-menu {
        display: flex;
    }
    header nav#nav-esq ul#icone-menu {
        display: flex;
    }
    header nav#nav-esq ul#icone-menu li#menuX {
        display: none;
    }
    /*_____________MENU_____________-*/
    header nav#nav-esq ul#menu-principal {
        flex-direction: column;
        width: 80%;
        height: 85vh;
        background: linear-gradient(rgba(90, 80, 71, .9) 0%, rgba(167, 149, 125) 45%, rgba(120, 83, 90) 100%);
        padding-top: .5rem;
        position: absolute;
        top: 9.3rem;
        right: 0;
        z-index: 999;
        display: none;
    }
    header nav#nav-esq ul#menu-principal li {
        margin: 2.5rem;
        margin-left: 1rem;
    }
    header nav#nav-esq ul#menu-principal li a {
        font-size: 120%;
    }
}